html {
    background-color:white;
}
h1 {
    color: purple;
    font-size: 60px;
    text-align: center;
    padding: 20px 0;
    text-shadow: 3px 1px 1px white;
}
h2 {
    color: purple;
    font-size: 30px;
    text-align: center;
    padding: 15px 0;
    text-shadow: 2px 1px 1px white;
}
img{
    height: 300px;
    width:75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
p {
    color: purple;
    width: 500px;
    border: 3px solid white;
    background-color: goldenrod;
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
    font-family: 'Lato', sans-serif;
}
body {
    width: 600px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    color: purple;
    background-color: goldenrod;
    border: 5px solid black;
    font-family: 'Lato', sans-serif;
}